# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\电脑软件\eclipse\Diffie-Heman\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
